################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/EdgeOfEmpireBot/.vs/
/EdgeOfEmpireBot/EdgeOfEmpireBot/obj/**
/EdgeOfEmpireBot/EdgeOfEmpireBot/bin/**
/EdgeOfEmpireBot/EdgeOfEmpireBot/Data/token.txt
